
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: pink;
    color: white;
}

.btn-light {
    font-weight: bold;
}

label {
    color: pink;
    font-weight: bold;
}

table > tr > td, th {
    width: 33vw;
}
